:root {
    --primary-color: #066587;;
    --secondary-color: rgb(24, 79, 99);
    --transparent-color: rgba(24, 79, 99, 0.717);;
    --header-color: rgb(1, 23, 17);
    --accent-color: #d1e8f0;
    --body-color: #d0dfe49e;
    --sm-nav-color: #2525257e;
    --section-color: #0778ce;
    --font-color: #02528b;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-color);
    
}

header {
    background-color: var(--transparent-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 20px;
    margin: 10px 20px;
    padding: 10px;
    align-items: center;
}

#header img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

#title h1, .chamber {
    margin: 0 auto;
    color: var(--header-color);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 20px;
    padding: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--accent-color);
    font-size: 20px;
}

.hamburger {
    width: 100%;
    display: block;
    height: 5px;
    width: 15px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    padding: 1.5rem .75rem;
    display: none;
    top: 15px;
}
  
  .hamburger span {
    height: 3px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.2s ease-in-out;
}
  
  .hamburger span:nth-child(1) {
    top: 20%;
}
  
  .hamburger span:nth-child(3) {
    top: 70%
}
  
  .hamburger.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
  
  .hamburger.active span:nth-child(2) {
    opacity: 0;
}
  
  .hamburger.active span:nth-child(3) {
    top: 45%;
    transform: translate(-50%, 50%) rotate(-45deg);
}
  
  .show a {
    display: block;
}

#hero img {
    width: 100%;
}

#hero {
    position: relative;
    margin-top: -70px;
    z-index: -1;
}

.hero-button {
    background-color: var(--accent-color);
    border: 1px solid var(--section-color);
    color: var(--font-color);
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.hero-button:hover {
    background-color: white;
    cursor: pointer;
}

main {
    max-width: 1600px;
    margin: 0 auto;
}

.home {
    color: var(--secondary-color);
    padding: 5px 20px;
}

#weather-event {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
}

#event, #weather, #weather-forecast {
    /* background-color: var(--accent-color); */
    box-shadow: 0 0 5px;
    /* height: 200px; */
}

section h2 {
    background-color: var(--primary-color);
    color: var(--accent-color);
    margin: 0;
    font-size: 18px;
    /* font-size: 22px; */
    /* padding: 2px 2px; */
}

#weather-info {
    display: grid;
    grid-template-columns: 80px auto;
}

.forecast-info {
    padding: 10px;
}

ul, li {
    padding: 0;
    color: var(--font-color);
}

li {
    list-style: none;
    /* padding: 5px 0; */
}

#business-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.businesses {
    margin: 10px 0;
    /* background-color: var(--accent-color); */
    border-radius: 20px;
    box-shadow: 0 0 5px;
    padding: 10px;
}

.name {
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.name h2 {
    color: var(--font-color);
    margin: 0;
}

.name p {
    color: var(--font-color);
    border-bottom: 1.5px solid var(--primary-color);
    margin: 0;
}

.business-profile {
    display: grid;
    grid-template-columns: 80px auto;
    gap: 10px;
    padding: 5px;
    align-items: center;
    margin: 10px 0;
    justify-content: center;
}

.business-img img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 40px;
}

p {
    font-size: 14px;
    color: var(--font-color);
}

#weather-event, #business-container {
    margin: 20px;
}

footer {
    background-color: var(--transparent-color);
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 20px;
    justify-items: center;
    align-items: center;
}

.middle img {
    width: 48px;
    margin: 10px 10px;
}

.left p, .right p {
    margin: 5px;    
    color: var(--accent-color);
}





