@media only screen and (min-width: 48rem) {
  #cards div {
    grid-template-areas: 
    "image name"
    "image description"
    "image address"
    "learn learn"
  }

  #cards div img {
    width: 300px;
    object-fit: cover;
    transition: filter 0.3s ease; /* Smooth transition */
    filter: brightness(70%);
  }

  #cards div img:hover {
    filter: brightness(100%);
  }

  #cards div h2 {
    margin: 1rem 1rem .25rem 1rem;
    grid-area: name;
  }

  #cards div p {
    margin: .25rem 1rem;
  }

  #cards div .learn-more-btn {
    padding: .75rem;
    margin: 1.5rem;
    border-radius: 15px;
  }



}