#cards div {
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  background-color: var(--accent-color);
  overflow: hidden;
  margin: 20px;

  display: grid;
  grid-template-areas: 
  "name"
  "image"
  "description"
  "address";
}

main h1 {
  margin: 10px 20px;
  color: var(--secondary-color);

}

#cards {
  display: block;
}

#cards div img {
  grid-area: image;
}

#cards div h2 {
  margin: 0.5rem 1rem 0.25rem 1rem;
  grid-area: name;
}

#cards div p {
  margin: 0.25rem 1rem;
}

#cards .description {
  grid-area: description;
}

#cards .address {
  grid-area: address;
  font-style: italic;
}

#visit-message {
  padding: 20px;
  text-align: center;
}