#cards div {
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  box-shadow: 0 5px 5px var(--box-shadow);
  background-color: var(--accent-color);
  overflow: hidden;
  margin: 20px;

  display: grid;
  grid-template-areas: 
  "name"
  "image"
  "description"
  "address";
}

main h1 {
  margin: 10px 20px;
  color: var(--secondary-color);

}

#cards {
  display: block;
}

#cards div img {
  grid-area: image;
}

#cards div h2 {
  margin: 1rem;
  grid-area: name;
}

#cards div p {
  margin: 1rem;
}

#cards .description {
  grid-area: description;
}

#cards .address {
  grid-area: address;
  font-style: italic;
}

#visit-message {
  padding: 20px;
  text-align: center;
}

.dark-theme #cards .interest-card {
  background-color: var(--dark-theme);
  box-shadow: 0 5px 5px var(--accent-color);
  /* border: none; */
}