body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hero {
  /* position: relative;
  margin-top: -70px;
  z-index: -1; */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.hero {
  grid-column: 1/11;
}

.welcome-container {
  display: grid;
  top: 150px;
  position: absolute;
  font-size: 3rem;
  justify-self: center;
  place-self: center;
  font-family: "Playfair Display", serif;
  font-weight: 600;  
}

.welcome {
  color: var(--secondary-color);
  justify-content: center;
}

.welcome h1 {
  font-size: 3rem;
  color: var(--secondary-color);
  font-size: 4rem;
}

@media (max-width: 360px) {
  .welcome {
    top: 70px;
    left: 80px;
  }
}