.card-grid {
  display: block;
  max-width: 1600px;
}

.content {
  padding: 20px;
  /* line-height: 150%; */
}

h1 {
	font-size: clamp(1.5rem 7vw 2rem);
	position: relative;
	color: #343a40;
	padding-bottom: 20px;
  margin: 20px auto;
}

h1::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 130px; 
	border-bottom: 5px solid red;
}