.card-grid {
  display: block;
  max-width: 1600px;
}

.content {
  padding: 20px;
  line-height: 150%;
}

h1 {
	font-size: 30px;
	position: relative;
	color: #343a40;
	padding-bottom: 20px;
  margin: 20px auto;
}

h1::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 130px; 
	border-bottom: 5px solid red;
}

h3 {
  margin: 20px auto;
}

.path {
  font-size: 20px;
  margin: 30px auto;
}

.degrees, .certificates {
  margin: 20px auto;
}