* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #066587;;
  --secondary-color: rgb(24, 79, 99);
  --transparent-color: rgba(24, 79, 99, 0.717);;
  --header-color: rgb(1, 23, 17);
  --accent-color: #d1e8f0;
  --body-color: #d0dfe49e;
  --sm-nav-color: #2525257e;
  --section-color: #0778ce;
  --font-color: #02528b;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background-color: #93adbf;
}

header {
  background-color: #93adbf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: box-shadow 0.3s ease;
  width: 100%;
}

header.scrolled {
  box-shadow: 0 2px 6px rgb(51, 54, 17);
}

header img {
  width: 50px;
  height: 50px;
}

.heading {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

nav {
  display: flex;
  margin: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

nav ul li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.active {
  font-weight: 700;
  transform: scale(2);
}

nav a:hover::after {
  transform: translateX(-50%) scale(1);
}

main {
  padding-top: 100px;
  top: 100px;
}

section {
  margin: 20px 20px;
  box-shadow: 0 2px 10px rgb(71, 65, 23);
  padding: 15px;
}

h2, h3, h4 {
  margin: 10px auto;
}

h2 {
  cursor: pointer;
  position: relative;
  display: block;
  overflow: hidden;
  padding-bottom: 5px;
}

h2:nth-child(1)::after {
  content: "";
  display: block;
  height: 2px;
  background: #333;
  margin-top: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #333;
  transition: width 0.3s ease;
}

h2:hover::after {
  width: 200px;
}

main ul li {
  margin: auto 20px;
}

.colors {
  width: 100%;
  min-width: 300px;
  margin: 30px auto;
  text-align: center;
}

.colors th {
  background-color: #daddd8;
}

.colors td{
  width: 25%;
  height: 3em;
  color: #daddd8;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent-color);
}
.accent2{
  background-color: var(--font-color);
}

img {
  max-width: 1024px;
  width: 100%;
  display: block;
  justify-content: center;
}

figure {
  margin: 20px;
  justify-items: center;
}

figcaption {
  text-align: center;
  font-style: italic;
  margin: 5px;
}

@media (max-width: 590px) {
  html {
    scroll-padding-top: 100px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  main {
    padding-top: 100px;
  }
}

@media (max-width: 470px) {
  html {
    scroll-padding-top: 140px;
  }

  main {
    padding-top: 150px;
  }
}
