@media (max-width: 840px) {
    header {
        display: block;
    }

    #header {
        margin-top: 0;
    }

    nav ul {
        display: block;
        flex-direction: column;
        align-items: center;
    }

    nav ul li a {
        display: flex;
        color: var(--accent-color);
        text-align: center;
        align-items: center;
        list-style: none;
        text-decoration: none;
        transition: color 0.3s ease-in;
        font-weight: 700;
        font-family: "Roboto";
        padding: 1rem;
        display: none;
    }

    .hamburger {
        display: block;
    }

    main {
        max-width: 780px;
    }

    #weather-event, #business-container {
        display: block;
        /* margin: 20px 10px; */
    }

    section h2 {
        font-size: 32px;
        text-align: center;
    }

    .container {
        height: 250px;
        background-color: var(--accent-color);
    }

    section {
        margin: 20px 10px;
    }

    #weather-info {
        display: grid;
        grid-template-columns: 200px auto;
    }

    .weather-info ul li {
        font-size: 26px;
        padding: 5px;
    }

    .forecast-info ul li {
        font-size: 28px;
        padding: 10px;
    }

    .businesses {
        margin: 20px 10px; 
    }

    .business-profile {
        grid-template-columns: 200px auto;
        gap: 20px;
        margin: 10px 20px;
    }
    
    .business-img img {
        width: 200px;
        height: 200px;
        object-fit: contain;
        border-radius: 100px;
    }
        
    .business-profile p {
        font-size: 28px;
        line-height: 200%;
    }

    .businesses p {
        font-size: 26px;
    }

    .name h2{
        font-size: 36px;
    }
}